.explore{
  width:100%;
  height:100%;
  .explore__container--upper{
    width:100%;
    height: 270px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 60px;
    .explore__header--upper{
      margin:auto;
      text-align: center;
      color: black;
      font: {
        family: "PT sans",Arial,serif;
        size: 2.5em;
      }
    }
    .explore__content--upper{
      margin:auto;
      text-align: center;
      width: 46%;
      color: #A9A9A9;
      font: {
        family: "PT sans",Arial,serif;
        size: 1.4em;
      }
    }
    #singleline_icon{
      color:#87CEFA;
      font-size: 4em;
      margin: auto;

    }
  }
  .explore__container--lower {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 710px;
    padding-bottom: 80px;
    background-color: #D3D3D3;
    .explore__container--lower-left {
      width: 680px;
      height: 400px;
      border: 1px solid red;
      margin-top: 20px;
      margin-left:50px;
      .explore__image--lower-left {
        width: 100%;
        height: 100%;
      }
    }
    .explore__container--lower-right{
      width: 380px;
      margin-left: 200px;
    }
  }
}
.explore__header--lower-right{
  color: black;
  font: {
    family: "PT sans",Arial,serif;
    size: 1.3em;
  }
}
.explore__content--lower-right{
  color:#778899;
  font: {
    family: "PT sans",Arial,serif;
    size: 1.1em;
    weight: bold;
  }
}
@media screen and (max-width: 720px){
  .explore{
    height: auto!important;
  }
  .explore__container--upper{
    height: auto !important;
    .explore__content--upper{
      margin: 0 !important;
      width: auto !important;
    }
  }
  .explore__container--lower {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto !important;
    .explore__container--lower-left{
      width:95% !important;
      height: auto !important;
      margin: auto !important;
    }
    .explore__container--lower-right{
      margin-left: 30px !important;
      width:auto !important;
    }
  }

}
@media screen and (max-width: 1023px) and (min-width: 721px){
  .explore{
    height: auto!important;
  }
  .explore__container--upper{
    height: auto !important;
    .explore__content--upper{
      margin: 0 !important;
      width: auto !important;
    }
  }
  .explore__container--lower {
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    height: auto !important;
    .explore__container--lower-left{
      width:95% !important;
      height: auto !important;
      margin: auto !important;

    }
    .explore__container--lower-right{
      margin-left: 30px !important;
      -webkit-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
      width:90% !important;
      display: flex;
      .explore__header--lower-right{
        width:45%;
        margin-left: 30px;
      }
    }
  }


}


.explore:target{
  .explore__container--upper {
    animation: slideInFromBottom 1s ease-out 0s 1;
  }
  .explore__container--lower{
    animation: slideInFromLeft 1s ease-out 0s 1;
  }
}

@keyframes slideInFromBottom {
   0% {
     transform: translateY(100%);
   }
   100% {
     transform: translateY(0);
   }
 }
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}