.footer{
  width: 100%;
  height:60%;
  background-color: #3F5267;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

  .foo-component{
    width:22%;
    height:80%;

  }
}
.foo-header {
  padding-top: 20px;
  margin-top: 0px;
  color: white;
  font: {
    family: "PT sans",Arial,serif;
    size: 1.2em;
    weight: bold;
  }
}
.foo-content{
  color:#A9A9A9;
  font: {
    family: "PT sans",Arial,serif;
    size: 1em;
  }
}

.foo_icon{
  color:#87CEFA;
  font-size: 2em;
}
.foo-form-text {
  background-color: #485A70;
  border-radius: 3px;
  border: none;
  width: 75%;
  padding: 13px;
  font: {
    family: "PT sans",Arial,serif;
    size: 1em;
  }
  color: white;
}
.form-expand{
  padding-top:0px;
  height: 100px;
}
.btn-send-message {
  background-color: #FC3A2E;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
}

.sec-explore:target{
  .sec-explore-main_upper {
    animation: slideInFromBottom 1s ease-out 0s 1;
  }
  .sec-explore-main_lower{
    animation: slideInFromLeft 1s ease-out 0s 1;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    height: auto !important;
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  #foo-left, #foo-middle, #foo-right {
    height: auto !important;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 721px){
  .footer {
    height: auto !important;
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  #foo-left, #foo-middle,#foo-right {
    height: auto !important;
    width: 45%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  #foo-right{
    width:100% !important;
  }
}




@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}
