.home {
  width: 100%;
  height: 100%;
  background-color: #A9A9A9;
  display: flex;
  display: -webkit-flex;
  -webkit-align-content: center;
  align-content: center;
  .home__container{
    width: 650px;
    margin:auto;
  }

  .home__header {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font: {
      family: "PT sans", Arial, serif;
      size: 40px;
    }
  }
  .home__content {
    text-align: center;
    color: white;
    font: {
      family: "PT sans", Arial, serif;
      size: 1.4em;
    }
  }
  .home__button-container{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .home__button--normal{
    @extend %home__button;
    margin-right: 20px;
    background-color: transparent;
  }

  .home__button--redbox{
    @extend %home__button;
    border-color: red;
    background-color: red;
  }

}


%home__button{
  width: 200px;
  height: 50px;
  color:white;
  font: {
    family: "PT sans",Arial,serif;
    size: 1.2em;
    weight: bold;
  }
  border:{
    style: solid;
    radius: 3px;
  }
}

.home:target{
  .home__container {
    animation: slideInFromBottom 1s ease-out 0s 1;
  }
}

