.sec-home {
  width: 100%;
  height: 100%;
  background-color: #A9A9A9;
  display: flex;
  display: -webkit-flex;
  -webkit-align-content: center;
  align-content: center;
  .sec-home-main{
    width: 650px;
    margin:auto;
  }

  .sec-home-main-art {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font: {
      family: "PT sans", Arial, serif;
      size: 40px;
    }
  }
  .sec-home-main-p {
    text-align: center;
    color: white;
    font: {
      family: "PT sans", Arial, serif;
      size: 1.4em;
    }
  }
  .button--container{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .sec-home-main-dlg_normal{
    @extend %dialog;
    margin-right: 20px;
    background-color: transparent;
  }

  .sec-home-main-dlg_redbox{
    @extend %dialog;

    border-color: red;
    background-color: red;
  }

}


%dialog{

  width: 200px;
  height: 50px;
  color:white;
  font: {
    family: "PT sans",Arial,serif;
    size: 1.2em;
    weight: bold;
  }

  border:{
    style: solid;
    radius: 3px;
  }

}

.sec-home:target{
  .sec-home-main {
    animation: slideInFromBottom 1s ease-out 0s 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}