.nav {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: white;
  padding-top: 12px;
  .nav__container--left {
    display: inline;
    padding-left: 80px;
    font: {
      family: "Arial";
      size: 1.8em;
      weight: bold;
    }
  }

  .nav__container--right {
    float:right;
    padding-top: 6px;
    margin-right: 80px;
    word-spacing: 25px;
    .nav__elem--right--normal{
      @extend %nav_link;
    }
    .nav__elem--right--red-border{
      @extend %nav_link;
      word-spacing: 0px;
      padding: 10px;
      border: {
        radius: 20px;
        color: #F08080;
        style: solid;
      }
    }
  }
}


%nav_link{
  text-decoration: none;
  color:#808080;
  font: {
    family: "PT sans",Arial,serif;
    size: 17px;
    weight: bold;
  }
  &:hover{
    color:black;
  }
}

.toogle{
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 720px){
  .toogle {
    display: block;
    float:right;
  }
  .nav__elem--right--normal, .nav__elem--right--red-border {
    display: none;
  }
  nav__container--right{
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) and (min-width: 721px){
  .nav-main_right-a_normal, .nav--right--red-border {
    font: {
      family: "PT sans",Arial,serif;
      size: 9px;
      weight: bold;
    }
  }
  nav__container--right{
    margin-right: 10px;
    word-spacing: 5px;
  }
  nav__container--left{
    padding-left: 20px;
  }
}



