.pricing {
  background-color: #E0FFFF;
  width: 100%;
  height: 100%;
  .pricing__container--upper{
    width:100%;
    height: 270px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 60px;
    .pricing__header--upper{
      margin:auto;
      text-align: center;
      color: black;
      font: {
        family: "PT sans",Arial,serif;
        size: 2.5em;
      }
    }
    .pricing__content--upper{
      margin:auto;
      text-align: center;
      width: 46%;
      color: #A9A9A9;
      font: {
        family: "PT sans",Arial,serif;
        size: 1.4em;
      }
    }
    #singleline_icon{
      color:#87CEFA;
      font-size: 4em;
      margin: auto;

    }
  }
  .pricing__container--inter{
      width:100%;
      height:auto;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      #pricebox_one{
        @extend %pricebox;
        margin-left: 20px;
      }
      #pricebox_two{
        @extend %pricebox;
        margin-left: 20px;
      }
      #pricebox_three{
        @extend %pricebox;
        margin-left: 20px;
        #redbutton{
          background-color: red;
          border-color: red;
        }
      }
      #pricebox_four{
        @extend %pricebox;
        margin-left: 20px;
      }
    }
  .pricing__container--lower{
    .pricing__header--lower{
      text-align: center;
      margin-top: 60px;
      .pricing__content--lower{
        margin-left: 33%;
        text-align: left;
        width:33%;
        color: #A9A9A9;

        font: {
          family: "PT sans", Arial, serif;
          size: 1.1em;
        }
      }
    }

  }
}

%pricebox{
   height: auto;
   width: 240px;
   background-color: white;
   border-radius: 8px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  .pricebox__header{
    color: #808080;
    text-align: center;
    font: {
      family: "PT sans", Arial, serif;
      size: 1.4em;
    }
  }
  .pricebox__price{
    color: #808080;
    text-align: center;
    font: {
      family: "PT sans", Arial, serif;
      size: 1.4em;
      weight: bold;
    }
  }
  .pricebox__describe{
    color: #808080;
    text-align: center;
    font: {
      family: "PT sans", Arial, serif;
      size: 1.4em;
    }
  }
  .pricebox__button{
    background-color: #66ccff;
    color: white;
    margin: auto;
    padding: 10px 10px 10px 10px;
    font: {
      family: "PT sans", Arial, serif;
      size: 1em;
      weight: bold;
    }
    border:{
      color:#66ccff;
      radius: 5px;
    }

  }
}

@media screen and (max-width: 720px){
  .pricing{
    height: auto!important;
    width: auto!important;
  }
  .pricing__container--upper{
    height: auto !important;
    .pricing__content--upper{
      margin: 0 !important;
      width: auto !important;
    }
  }
  .pricing__container--inter{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height:auto !important;
  }
  #pricebox_one,#pricebox_two,#pricebox_three,#pricebox_four{
    width:90% !important;
    margin-top: 10px;
    margin-left: 0! important;
  }
  .pricing__container--lower {
    height: auto !important;
    width: auto !important;
    .pricing__header--lower{
      width: 100% !important;
      margin-top: 0px !important;
    }
    .pricing__content--lower{
      margin-left: 20px !important;
      text-align: start !important;

      width: 100% !important;
    }
  }
}
@media screen and (max-width: 1023px) and (min-width: 721px){
  .pricing{
    height: auto!important;
    width: auto!important;
  }
  .pricing__container--upper{
    height: auto !important;
    .pricing__content--upper{
      margin: 0 !important;
      width: auto !important;
    }
  }
  .pricing__container--inter{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #pricebox_one,#pricebox_two,#pricebox_three,#pricebox_four{
    width:45% !important;
    margin-top: 10px;
  }
  .pricing__container--lower {
    height: auto !important;
    width: auto !important;
    .pricing__header--lower{
      width: 100% !important;
      margin-top: 0px !important;
    }
    .pricing__content--lower{
      margin-left: 20px !important;
      text-align: start !important;
      width: 100% !important;
    }
  }
}


.pricing:target{
  .pricing__container--inter {
    animation: slideInFromBottom 1s ease-out 0s 1;
  }

}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}