.team {
  background-color: #E0FFFF;
  width: 100%;
  height:100%;
  .team__container--upper{
    width:100%;
    height: 270px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 60px;
    .team__header--upper{
      margin:auto;
      text-align: center;
      color: black;
      font: {
        family: "PT sans",Arial,serif;
        size: 2.5em;
      }
    }
    .team__content--upper{
      margin:auto;
      text-align: center;
      width: 46%;
      color: #A9A9A9;
      font: {
        family: "PT sans",Arial,serif;
        size: 1.4em;
      }
    }
    #singleline_icon{
      color:#87CEFA;
      font-size: 4em;
      margin: auto;

    }
  }
  .team__container--inter{
    width:100%;
    height:63.66%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    .team__container{
      width:100%;
      height: 80%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;

    }
  }
}


.teambox{
  background-color: white;
  margin-left: 30px;
  margin-top: 2.6%;
  text-align: center;
  height: 90%;
  width:23%;
  padding: auto;
  -webkit-justify-content: center;
  justify-content: center;
  .circle_image{
    -ms-transform: translate(0px, -50%); /* IE 9 */
    -webkit-transform: translate(0px, -50%); /* Safari */
    transform: translate(0px, -50%);
    width:150px;
    height:150px;
    border-radius: 75px;
    border: #E0FFFF 1em solid;
  }
  .teambox_header{
    margin-top: -10%;
    font: {
      family: "PT sans", Arial, serif;
      size: 1.1em;
      weight: bold;
    }
  }
  .teambox_header__sub{
    text-align: center;
    color: #A9A9A9;
    font: {
      family: "PT sans", Arial, serif;
      size: 0.9em;

    }
  }
  .teambox_describe{
    color: #A9A9A9;
    margin-left:16%;
    margin-top: 10%;
    margin-right:16%;
    text-align: center;
    font: {
      family: "PT sans", Arial, serif;
      size: 1em;
      weight: bold;
    }
  }
  .medium_icon{
    font-size: 1.5em;
    word-spacing: 10px;
    margin-top: 10%;
  }

}


@media screen and (max-width: 720px){
  .team{
    height: auto!important;
    width: auto!important;
  }
  .team__container--upper{
    height: auto !important;
    .team__content--upper{
      margin: 0 !important;
      width: auto !important;
    }
  }

  .team__container--inter{
    height: auto !important;
    .team__container{
      height: auto !important;
      margin-top:40px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .teambox{
      width:90% !important;
      height: auto !important;
      margin:auto;
      margin-top: 90px;
    }
  }
}


@media screen and (max-width: 1023px) and (min-width: 721px){
  .team{
    height: auto!important;
    width: auto!important;
  }
  .team__container--upper{
    height: auto !important;
    .team__content--upper{
      margin: 0 !important;
      width: auto !important;
    }
  }

  .team__container--inter{
    height: auto !important;
    .team__container{
      height: auto !important;
      margin-top:40px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .teambox{
      width:90% !important;
      height: auto !important;
      margin:auto;
      margin-top: 90px;
    }
  }
  #teambox_one, #teambox_two{
    width: 45% !important;
  }
}

.team:target{
  .team__container--inter {
    animation: slideInFromBottom 1s ease-out 0s 1;
  }
  .big_icon{
    animation: flash 1s ease-out 1s 1;
  }

}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}